pandas==2.3.1
numpy==2.2.6
matplotlib==3.10.5
ipython==9.5.0
ruff==0.12.9
ipdb==0.13.13
boto3==1.40.40
xarray==2025.9.0
h5netcdf==1.6.4
h5py==3.14.0
cftime==1.6.4
jupyter==1.1.1
cfgrib==0.9.15.0
# pyarrow==21.0.0
plotly==6.3.0
cdsapi==0.7.6
nbstripout-fast==1.1.1
scipy==1.16.2
netcdf4==1.7.2
seaborn==0.13.2
tensorflow==2.20.0
tf-keras==2.20.1
tensorflow-probability==0.25.0
scikit-learn==1.7.2
arviz==0.22.0
-e .

